@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600);

body {
    background: #000;
    color: #eee;
    font: 16px 'Open Sans', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

iframe {
    border: 0;
    width: 100vw;
    height: 90vh;
}

footer {
    padding: 1rem;
}

footer a {
    color: #eee !important;
}